


=content_for :title, "Travel"

- if current_user
  = render 'dashboard'
- else
  .container
    %h1 WEFUN
    %p
      %span
        Travel Together
      %span
        Plan Together
      %span
        Live Together
    = link_to image_tag("/assets/fbook_icon_btn.png", :border =>0), facebook_oauth_path









  :css
    h1 {
      color: white;
      font-size: 7em;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      margin-bottom: 0;

    }
    p {
      color: white;
      margin-bottom: 50px;
    }

    span {
      margin-right: 20px;
    }

    html {
      background: url("assets/bg1.jpg") no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }


